@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-start .bot-message:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #1a1a1a;
  border-top: 15px solid transparent;
  border-bottom: 15px solid #1a1a1a;
  left: -10px;
  bottom: 0;
}

.chat-end .user-message:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 15px solid #4a00ff;
  border-right: 15px solid transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid #4a00ff;
  right: -10px;
  bottom: 0;
}
